<div
  class="row row-cols-1 py-5 row-cols-md-3 gx-2 gy-5 vw-100 text-center justify-content-center align-items-center"
>
  <section class="col-10">
    <mat-card>
        <mat-card-title>ACTIVITY</mat-card-title>
        <mat-card-content
          >Stay active and enjoy better health and more fun!</mat-card-content
        >
    </mat-card>
  </section>
  <section class="col-10">
    <mat-card>
      <mat-card-title>COMMUNITY</mat-card-title>
      <mat-card-content
        >Get to know other people who share your passion!</mat-card-content
      >
    </mat-card>
  </section>
  <section class="col-10">
    <mat-card>
      <mat-card-title>CHALLENGES</mat-card-title>
      <mat-card-content
        >Never stop! Dive into new challenges every day</mat-card-content
      >
    </mat-card>
  </section>
</div>
